#about {
    padding: 32px 4%;
    min-height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-1);
    background-image: url('../images/about/bg-about.png');
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
}

#about .title {
    color: var(--color-neutral-0);
}

#about .title::before {
    background-color: var(--color-secondary-1);
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.about-image {
    width: clamp(300px, 50vw, 500px);
}

.about-info {
    padding: 24px;
    border-radius: 20px;
    background-color: var(--color-primary-2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-info h3 {
    margin-bottom: 4px;
    font-size: 1.8rem;
    color: var(--color-neutral-0);
}

.about-info h3 span {
    color: var(--color-secondary-1);
}

.about-info p {
    font-size: 1rem;
    color: var(--color-neutral-0);
}

.about-info p span {
    color: var(--color-secondary-1);
    font-weight: 500;
}

