@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('../css/variables.css');
@import url('../css/navbar.css');
@import url('../css/btn.css');
@import url('../css/home.css');
@import url('../css/trending.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    background-image: url(../images/background-mobile.png);


}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-neutral-8);
    font-weight: 700;
    position: relative;
}

.title::before {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--color-primary-1);
    position: absolute;
    bottom: 0;
    border-radius: 30px;
}

span {
    color: var(--color-primary-1);
}