@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('../css/variables.css');
@import url('../css/navbar.css');
@import url('../css/btn.css');
@import url('../css/home.css');
@import url('../css/trending.css');
@import url('../css/about.css');
@import url('../css/products.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    background-image: url('../images/background-mobile.png');
    background-size: contain;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-neutral-8);
    font-weight: 700;
    position: relative;
}

.title::before {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--color-primary-1);
    position: absolute;
    bottom: 0;
    border-radius: 30px;
}

span {
    color: var(--color-primary-1);
}

@media (min-width: 768px) {
    #container {
        background-image: url('../images/background-desktop.png');
        background-size: cover;
        background-position: start;
        background-repeat: no-repeat;
    }

    #trending .trending-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }

    #products {
        min-height: 100vh;
        gap: 8rem;

    }

    #products .products-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    #products .products-cards .product-card img {
        width: 250px;
    }

}

@media (min-width: 1200px) {
    #about {
        margin: 4%;
        justify-content: center;
    }

    .about-content {
        flex-direction: row;
        align-items: center;
        gap: 48px;
    }

    .about-image {
        order: 1;
    }

    .about-info:first-child {
        order: 2;
    }

    .about-info:last-child {
        order: 3;
    }
}

footer {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);
    text-align: center;
    padding: 12px;
}

footer p {
    font-size: 1rem;
    
}