@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('../css/variables.css');
@import url('../css/navbar.css');
@import url('../css/btn.css');
@import url('../css/home.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    background-image: url(../images/background-mobile.png);
    
}

span {
    color: var(--color-primary-1);
}